<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Anan User, Magento 2.4 custom admin user module supported aws cognito
 * php version 8.1
 * 
 * @category Admin User
 * @package  Aws Cognito
 * @author   Anan Fauzi <mr.ananfauzi@gmail.com>
 * @license  MIT license <https://opensource.org/licenses/MIT>
 * @link     https://github.com/ananfauzi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="anan_user" frontName="anan_user">
            <module name="Anan_User"/>
        </route>
    </router>
</config>